

<div style = "float: right" style="width: 100%;" position = "relative">

    <mat-card *ngFor="let item of productos" cols=2 rowspan=2 class="example-card">
            <mat-card-header>

                <mat-card-title>{{item.NAME}}</mat-card-title>
              <mat-card-subtitle>{{item.PRICE}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image style="width: 40%; height: 50%;" src="{{item.IMAGE}}" alt="Photo of a Shiba Inu" (click)="redirectSong(item.URL)" >
            <mat-card-content>
              <p>
                {{item.DESC}}
           
               CANTIDAD: {{item.TOTAL}}
              </p>
            </mat-card-content>
          
            <mat-card-actions>

            </mat-card-actions>
          </mat-card>
          
</div>
<div style = "float: left" style="width: 50%;" position = "relative"></div>
<br>
<br>


       